*,
*::before,
*::after { 
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
	font-size: 62.5%;
}

.jumbotron {
    background-color: green;
    color: #f0f0f0;
}

.display-3{
	letter-spacing: 2px;
    font-style: bold;
}

body {
	color: #999999;
	font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0;
	padding: 1rem;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
}

.titulito1{
    font-size: 2rem;
    color: green;
}

.blocksuperior{
	font-size: 1.50rem;
}

.btn {
	background-color: green;
	border: 1px solid  cccccc;
	//border-radius: 1rem;
	color: #f0f0f0;
	padding: 0.5rem;
	//text-transform: lowercase;
	font-size: 2rem;
	font-weight: bold;
}

.btn--block {
	display: block;
	width: 100%;
}
 
.cards {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.cards__item {
	display: flex;
	padding: 1rem;
    margin: 0;
    padding: 10px;
    flex: 50%;
}

@media (max-width: 800px){
    .cards__item {
        flex: 100%;
    }
}
.card {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
	overflow: hidden;
}

.card__content {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	padding: 1rem;
}

.card__title {
	color: #696969;
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.card__text {
	flex: 1 1 auto;
	font-size: 1.5rem;
	line-height: 1.5;
	margin-bottom: 1.25rem;
}

.foooter_mysite{
	font-size: 1.50rem;	
}
